{{- if .Values.security.enabled }}
  {{- if and (not .Values.security.jaasUsers.enabled) (not .Values.security.ldap.enabled) }}
    {{- fail "No security module is enabled." }}
  {{- end }}
{{- end }}
/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

activemq {
  {{ if .Values.security.jaasUsers.enabled }}
   org.apache.activemq.artemis.spi.core.security.jaas.PropertiesLoginModule {{ .Values.security.jaasUsers.flag }}
       reload=true
       org.apache.activemq.jaas.properties.user="{{ .Values.security.jaasUsers.key }}"
       org.apache.activemq.jaas.properties.role="artemis-roles.properties";
  {{ end }}

   {{ if .Values.security.ldap.enabled }}
    org.apache.activemq.artemis.spi.core.security.jaas.LDAPLoginModule {{ .Values.security.ldap.flag }}
       reload=true
       initialContextFactory=com.sun.jndi.ldap.LdapCtxFactory
       connectionURL="{{ .Values.security.ldap.protocol }}://{{ .Values.security.ldap.host }}:{{ .Values.security.ldap.port }}"
       connectionUsername="{{ .Values.security.ldap.binding.user }}"
       connectionPassword="{{ .Values.security.ldap.binding.password }}"
       connectionProtocol=s
       authentication=simple
       userBase="{{ .Values.security.ldap.users.base }}"
       userSearchMatching="{{ .Values.security.ldap.users.searchMatching }}"
       userSearchSubtree="{{ .Values.security.ldap.recurse }}"
       roleBase="{{ .Values.security.ldap.roles.base }}"
       roleName="{{ .Values.security.ldap.roles.name }}"
       roleSearchMatching="{{ .Values.security.ldap.roles.searchMatching }}"
       roleSearchSubtree="{{ .Values.security.ldap.recurse }}";
   {{ end }}
};
